<form action='/books/create' method='POST'>
  <label>Title:
    <input type='text' name='title' />
  </label>
  <label>Author:
    <select name='author'>
      <option value='unknown'>-- Select an author --</option>
      {{#each authors}}
        <option value={{id}}>{{name}}</option>
      {{/each}}
    </select>
  </label>
  <label>Rating:
    <input type='number' name='rating' />
  </label>
  <label>Description:
    <textarea cols='30' rows='4' name='description'></textarea>
  </label>
  <button type='submit'>Submit</button>
</form>